.w3-image.w3-round{
    width: 41em;
}

.w3-myFont{
    font-family: "Lobster", sans-serif;
}

/* Create a Parallax Effect */
.parallax {
    /* The image used */
    
    background-image: url('../Component/Photo/Banner.jpg');
    

    /* Full height */
    height: 50%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

